<div class={{inputMainClass}}>
  <label for={{inputName}} class={{labelClass}}>{{inputLabel}}</label>
  <input
    name={{inputName}}
    id={{inputName}}
    type={{inputType}}
    class={{inputClass}}
    value="{{inputValue}}"
    {{#unless isEditing}} 
      disabled=true
    {{/unless}}
  />
  <span id="{{inputName}}-error" class="input__error"></span>
</div>


