{{#if buttonLink}} 
  <a
    href="{{buttonLink}}"
    class="button {{buttonClass}}"
    data-page="{{buttonLink}}"
  >
    {{#if buttonImage}}
      <img
        src="{{buttonImage}}"
        alt="{{imageAlt}}"
        class="{{buttonImageClass}}"
      />
    {{/if}}
    {{buttonText}}
  </a>
{{else}}
  <button type="{{buttonType}}" class="button {{buttonClass}}">
    {{#if buttonImage}}
      <img
        src="{{buttonImage}}"
        alt="{{imageAlt}}"
        class="{{buttonImageClass}}"
      />
    {{/if}}
    {{buttonText}}
  </button>
{{/if}}




