<div class=" {{#if hasNewMessages}}chat_highlighted{{/if}}">
  <div class="">      
    <img class="" src="{{icon}}" alt="Аватар">
    <div class="s">
      <h6 class="">{{chatName}}</h6>
      <p class="">{{chatLastMessage}}</p>
    </div>
  </div>
  <div class="">
    <p class="">{{formatTime lastMessageDate}}</p>
    {{#if hasNewMessages}}
      <div class="">
        <p class="">{{newMessages}}</p>
      </div>
    {{/if}}
  </div>
</div>
