<div class="">
  <div class="">
    <img class="" src={{avatar}} alt="img" />
    <p class="">{{chatName}}</p>
  </div>
  {{{Button
    buttonType="button"
    buttonImage=this.ellipseIcon
    buttonClass="header__ellipse"
    imageAlt="settings"
    onClick=onOptionsClick
  }}}
  {{#Modal
    visibility=chatOptionsVisibility
    modalClassName=""
  }}

    {{{Button
      buttonType="button"
      buttonText="Добавить участника"
      buttonClass="button_text"
      onClick=this.onAddUserPopupClick
    }}}

    {{{Button
      buttonType="button"
      buttonText="Удалить пользователя"
      buttonClass="button_text"
      onClick=this.onRemoveUserClick
    }}}
  {{/Modal}}

  {{#Popup visibility=addUserPopupVisibility onClick=this.onAddUserPopupClick}}
    {{#Modal}}
      {{#Form onSubmit=handleAddUser class=""}}
        <h1 class="form__title">Добавить пользователя</h1>
        <div style="position: relative; margin-bottom: 10px">{{{Input
            inputName="login"
            inputType="text"
            labelName="login"
            inputLabel="Логин пользователя"
            isEditing="true"
            inputMainClass="dynamic-input"
            inputClass="dynamic-input__data"
            labelClass="dynamic-input__placeholder"
          }}}</div>
          <div class="">
           {{#each users}}
          <div class="">
            <span class="">{{this.display_name}}</span>
            <span class="">{{this.login}}</span>
          </div>
        {{/each}}</div>
        {{{Button
          buttonType="submit"
          buttonText="Добавить"
          buttonClass="button_primary"
        }}}
      {{/Form}}
    {{/Modal}}
  {{/Popup}}

  {{#Popup visibility=deleteUserPopupVisibility onClick=this.onRemoveUserClick}}
    {{#Modal}}
      <h1 class="">Удалить пользователя</h1>
      <div class="">
        {{#each users}}
          <div class="">
            <span class="">{{this.display_name}}</span>
            <span class="">{{this.login}}</span>
        {{#if (isEqual this.id ../currentUserId)}}
        <button class="" disabled>
          Это вы
        </button>
      {{else}}
        <button
          class=""
          data-user-id="{{this.id}}"
        >
          Удалить
        </button>
      {{/if}}
          </div>
        {{/each}}
      </div>
    {{/Modal}}
  {{/Popup}}
</div>
