<div class="dialog__header">
  <div class="header__title-container">
    <img class="container__avatar" src={{this.avatar}} alt="img" />
    <p class="container__title">{{chatName}}</p>
  </div>
  {{{Button
    buttonType="button"
    buttonImage=this.ellipseIcon
    buttonClass="header__ellipse"
    imageAlt="settings"
    onClick=onOptionsClick
  }}}
  {{#Modal
    visibility=chatOptionsVisibility
    modalClassName="modal_min modal_min-top-right"
  }}
    {{{Button
      buttonType="button"
      buttonText="Изменить аватар чата"
      buttonClass="button_text"
      onClick=this.onAvatarPopupClick
    }}}

    {{{Button
      buttonType="button"
      buttonText="Добавить участника"
      buttonClass="button_text"
      onClick=this.onAddUserPopupClick
    }}}

    {{{Button
      buttonType="button"
      buttonText="Удалить пользователя"
      buttonClass="button_text"
      onClick=this.onRemoveUserClick
    }}}
  {{/Modal}}

  {{#Popup visibility=addUserPopupVisibility onClick=this.onAddUserPopupClick}}
    {{#Modal}}
      {{#Form onSubmit=handleAddUser class="profile__form"}}
        <h1 class="form__title">Добавить пользователя</h1>
        <div style="position: relative; margin-bottom: 10px">{{{Input
            inputName="login"
            inputType="text"
            labelName="login"
            inputLabel="Логин пользователя"
            isEditing="true"
            inputMainClass="dynamic-input"
            inputClass="dynamic-input__data"
            labelClass="dynamic-input__placeholder"
          }}}</div>
          <div class="user-list">
           {{#each users}}
          <div class="user-list__item">
            <span class="user-list__item-display_name">{{this.display_name}}</span>
            <span class="user-list__item-login">{{this.login}}</span>
          </div>
        {{/each}}</div>
        {{{Button
          buttonType="submit"
          buttonText="Добавить"
          buttonClass="button_primary"
        }}}
      {{/Form}}
    {{/Modal}}
  {{/Popup}}

  {{#Popup visibility=deleteUserPopupVisibility onClick=this.onRemoveUserClick}}
    {{#Modal}}
      <h1 class="form__title">Удалить пользователя</h1>
      <div class="user-list">
        {{#each users}}
          <div class="user-list__item">
            <span class="user-list__item-display_name">{{this.display_name}}</span>
            <span class="user-list__item-login">{{this.login}}</span>
        {{#if (isEqual this.id ../currentUserId)}}
        <button class="button button_link" disabled>
          Это вы
        </button>
      {{else}}
        <button
          class="button button_danger button_delete"
          data-user-id="{{this.id}}"
        >
          Удалить
        </button>
      {{/if}}
          </div>
        {{/each}}
      </div>
    {{/Modal}}
  {{/Popup}}

  
  {{#Popup visibility=avatarChangeVisibility onClick=this.onAvatarPopupClick}}
    {{#Modal title="Загрузите файл"}}
      {{#Form onSubmit=this.handleSetChatAvatar class="profile__form"}}
        <h1 class="form__title">Загрузите файл</h1>
        <div>
          {{{Input
            inputName="avatar"
            inputType="file"
            labelName="avatar"
            inputLabel="Выбрать файл на компьютере"
            isEditing="true"
          }}}
          <p class="file">{{fileName}}</p>
        </div>
        {{{Button
          buttonType="submit"
          buttonText="Поменять"
          buttonClass="button_primary"
        }}}
      {{/Form}}
    {{/Modal}}
  {{/Popup}}
</div>


