<div class="container">
        <form class="registration-form"  id = "getReg">
            <h1>Регистрация</h1>
    {{#each inputs}}
  <div class="form-group">
                <label for="{{name}}">{{title}}</label>
                <input type="{{type}}" id="{{name}}" name="{{name}}" pattern="{{pattern}}" required>
                <span id="{{name}}-error" class="inputError">{{hint}}</span>
            </div>
  {{/each}}
            <button type="submit" id="register-button">Зарегистрироваться</button>
            <a>Войти</a>
        </form>

    </div>
